@charset "UTF-8";

@font-face{
font-family: 'd2';
src: url(../D2Coding.ttf);
	
}
@font-face{
	font-family: 'f';
	src: url(../font.ttf);
	
}
body{
	font-family: 'd2';
	background-image: url("../img/beautiful.jpg");
	background-size: 700px;
	background-repeat: repeat;
	opacity:1;
	background-position: center top 200px;
}